<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modify a user</title>

    <!-- Favicon -->
    <link href="/img/favicon.ico" rel="icon">

    <!-- Google Fonts & Icons -->
    <link href="https://fonts.googleapis.com/css2?family=Oswald&family=Rubik&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.0/css/all.min.css" rel="stylesheet">

    <!-- CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
</head>
<body>

<header class="bg-primary text-white text-center py-3">
    <h1>Add a Member</h1>
</header>

<main class="container my-5">
    <form th:action="@{/admin/users/add}" method="post">
    <div class="mb-3">
        <label for="first_name">First Name:</label>
        <input type="text" id="first_name" name="first_name" required>
    </div>

    <div class="mb-3">
        <label for="last_name">Last Name:</label>
        <input type="text" id="last_name" name="last_name" required>
    </div>

    <div class="mb-3">
        <label for="username">UserName:</label>
        <input type="text" id="username" name="username" required>
    </div>

    <div class="mb-3">
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
    </div>

    <div class="mb-3">
        <label for="age">Age:</label>
        <input type="number" id="age" name="age" required>
    </div>

    <div class="mb-3">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>
    </div>

    <div class="mb-3">
        <label for="phone">Phone Number:</label>
        <input type="text" id="phone" name="phone_number" required>
    </div>

    <div class="mb-3">
        <label for="emergency_phone_number">Emergency Phone Number:</label>
        <input type="text" id="emergency_phone_number" name="emergency_phone_number" required>
    </div>

    <div class="mb-3">
        <label for="date_of_inscription">Date of Inscription:</label>
        <input type="date" id="date_of_inscription" name="date_of_inscription" required>
    </div>

        <button type="submit" class="btn btn-success">Add</button>
    </form>
</main>


<script src="/js/bootstrap.bundle.min.js"></script>
</body>
</html>
